<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ .Permalink }}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{ if .Params.img }}<meta property="og:image" content="{{ .Site.BaseURL }}img/{{ .Params.img }}">{{ end }}
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ .Title }}">
    <meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{ if .Params.img }}<meta property="twitter:image" content="{{ .Site.BaseURL }}img/{{ .Params.img }}">{{ end }}
    
    <base href="{{ .Site.BaseURL }}">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <!-- Preload critical resources -->
    <link rel="preload" href="/css/bootstrap.min.css" as="style">
    <link rel="preload" href="/css/landing-page.css" as="style">
    <link rel="preload" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" as="style">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS  -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Pricing CSS -->
    <link rel="stylesheet" href="/css/pricing.css">
    
    <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png">
    
    <!-- JSON-LD Structured Data -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfessionalService",
        "name": "{{ .Site.Title }}",
        "description": "{{ .Site.Params.description }}",
        "url": "{{ .Site.BaseURL }}",
        "founder": {
            "@type": "Person",
            "name": "{{ .Site.Params.name }}"
        },
        "areaServed": "Stockholm, Sweden",
        "serviceType": ["Java Consulting", "Spring Framework", "JVM Performance Tuning", "Big Data", "Machine Learning", "MLOps"]
    }
    </script>

</head>
<body>
