{{ partial "head.html" . }}
<section id="main" class="container">
    <h1 id="title">{{ .Title }}</h1>

    <div>
        <aside>
            Table of content:
            <p>{{.TableOfContents}}</p>
        </aside>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
    <div>
        <section>
            <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section>
    </div>
    <div>
        {{ with .PrevInSection }}
        <a class="previous" href="http://{{.Permalink}}"> [{{.Title}}]<< </a>
        {{ end }}
        {{ with .NextInSection }}
        <a class="next" href="http://{{.Permalink}}"> >>[{{.Title}}]</a>
        {{ end }}
    </div>

</section>

{{ partial "footer.html" . }}