{{ partial "head.html" . }}
<section id="main" class="container">
    <h1 id="title">{{ .Title }}</h1>

    <div>
        <aside>
            Table of content:
            <p>{{.TableOfContents}}</p>
        </aside>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
    <div>
        <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
            <p>
                <label>Email: </label>
                <br><input type="text" name="name" size="100"/>
            </p>
            <p>
                <label>Message:</label>
                <br><textarea name="message" rows="10" cols="100"></textarea>
            </p>
            <div data-netlify-recaptcha="true"></div>
            <p>
                <button type="submit" style="width:150px">Send</button>
            </p>
        </form>
    </div>
    <div>
        <section>
            <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
        </section>
    </div>
    <div>
        {{ with .PrevInSection }}
        <a class="previous" href="http://{{.Permalink}}"> [{{.Title}}]<< </a>
        {{ end }}
        {{ with .NextInSection }}
        <a class="next" href="http://{{.Permalink}}"> >>[{{.Title}}]</a>
        {{ end }}
    </div>
</section>

{{ partial "footer.html" . }}