<section id="posts">

<!-- Page Content -->
 {{ range $index, $element :=  .Site.RegularPages }}{{ if or (eq .Section "posts") (eq .Section "posts") }}
    {{ if modBool $index 2 }}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {{ else }}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Content }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    {{ end }}
    <!-- /.content-section-b -->
    {{ end }}
{{ end }}

</section>
